$primary-cl: #3bc9db;
$tint-wh: #f8fafa;
$tint-fadebg: #ebfafb;
$tint-fade1: #d8f4f8;
$tint-fade2: #c4eff4;
$tint-fade3: #9de4ed;
$tint-fade4: #75ddea;

$shade-cl1: #237983;
$shade-cl2: #1e656e;
$shade-cl3: #298d99;
$shade-cl4: #123c42;
$shade-cl5: #0c282c;

$gray-scale1: #555;
$gray-scale2: #333;

$black: #000;

$main-font: "Work Sans", sans-serif;
